@page
@model Mission09_adw97.Pages.PurchaseCompletedModel


<div class="text-center">
    <h2>Thank you for your Purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>