<!--Alex Wirick mission 10
    index.html page incorporating a partial view-->
@model BooksViewModel

<!--My first new bootstrap element that I discovered is the display class that allows for display 1-6 to make titles bigger and a different font-->
<h3 class="text-center display-6">Welcome to Narnes and Boble, the world's newest online book store!</h3>
<br />
<!--This will create a display object for each book (up to 10 per page)-->
@foreach (Books b in Model.Books)
{
    {
        <partial name="BookSummary" model="b" />
    }
}
<!--These are the pagination buttons that will show up at the bottom of the index page-->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

